*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.movie-container {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
	color: #34638f;
    background-color: #FFF;
    padding: 2% 10%;
}


.detail-title {
	font-size: 36px;
	font-weight: 600;
}
.detail-title span {
	font-weight: 300;
	font-size: 20px;
}

.detail-score {
	margin-bottom: 30px;
}


.detail-overview {
    padding-top: 30px;
}
