img:hover, img:focus  {
    cursor: pointer;
    border-radius: 15%;
    border: 5px solid black;
    box-shadow: 2px 8px 6px -6px black;


}
h5:hover {
    font-size: 30px;
    cursor: pointer;
    box-shadow: 10px black;

    

}