@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Modak', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
